.calendar a:focus {
  outline: none !important;
}
.calendar {
  position: relative;
  overflow: hidden;
  text-transform: capitalize;
  text-align: center;
  font: 15px/1em inherit;
  color: #545A5C;
}
  .calendar a {
    text-decoration: none;
    color: inherit;
  }
  .calendar header .btn {
    display: inline-block;
    position: absolute;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #CBD1D2;
  }
  .calendar header .btn:hover {
    color:  #929ea0;
    cursor: pointer;
  }

  .calendar header .btn-prev {
    left: 0;
    top: 0;
  }
  .calendar header .btn-next {
    right: 0;
    top: 0;
  }
  .calendar header .month {
    padding: 0;
    margin: 0;
  }
  .calendar table {
    width: 96%;
    margin: 2%;
    border-spacing: 0;
  }
  .calendar thead {
    font-size: 1em;
    font-weight: 600;
    color: #47525E;
    font-family: 'Lato', sans-serif;
  }
  .calendar td {
    padding: 0.8em 0.1em;
  }
  .calendar .month {
    font-size: 1.8rem;
  }
  .calendar .day {
    width: 2em;
    line-height: 1em;
    border-radius: 50%;
    border: 2px solid transparent;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    padding: 4px 9px;
  }
  .calendar .day:hover {
    border: 2px solid #6691CC;
  }
  .calendar .day.today {
    background: #6691CC;
    color: white;
  }
  .calendar .day.wrong-month {
    color: #CBD1D2;
  }
  .calendar .day.wrong-month:hover {
    border: 2px solid transparent;
  }
  .calendar .event-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #545A5C;
  }
  .calendar .filler {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #545A5C;
    transform: translate(-50%, -50%);
  }

.calendar-container {
    margin: 20px auto !important;
  }

.btn {
  font-size: 2rem !important;
}

.calendar-container {
  background-color: #9D9D9D;
}
.calendar table {
  background-color: #F3F3F3;
}
